.cardMain {
  margin: 20px;
}

.backGroundCard2 {
  width: fit-content;
  border-radius: 5px;
  background-color: #f36250;
  height: 350px;
  width: 280px;
  position: absolute;
  z-index: -1;
  left: -15px;
  top: 20px;
  border: 1px solid black;
  visibility: hidden;
}

.imgHolder2 {
  height: 300px;
  width: 230px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid black;
}

p {
  font-size: 18px;
  color: rgb(96, 96, 96);
  /* text-align: center; */
}

.cardHolder2 {
  height: 355px;
  width: fit-content;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.cardHolder2:hover .backGroundCard1 {
  background-color: #f36250;
  visibility: visible;
}
/* .linkHolder:hover .cardHolder1 {
    background-color: #f36250;
  } */

.petName {
  font-size: 18px;
  margin-bottom: 0px;
}
