.cardMain1 {
  position: relative;
  margin-top: 20px;
}
.petHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 40px;
  margin-top: 40px;
}

.petAvailable {
  margin-top: 80px;
  margin-bottom: 40px;
  border-bottom: 2px solid black;
}

.titlePetAdoption {
  background-color: #f36250;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.iconHolder1 {
  font-size: 120px;
  color: #f36250;
}

.findMore {
  display: flex;
  flex-direction: column;
  width: 180px;
  align-items: center;
}

.petData1 {
  border-bottom: 2px solid black;
}

.cardMain1:hover .backGroundCard1 {
  background-color: #1c3238;
}
.cardMain1:hover .findMore {
  background-color: #f36250;
  height: 100%;
  border-radius: 2px;
}
.cardMain1:hover .iconHolder1 {
  color: white;
}

.cardMain1:hover .searchIcon {
  color: white !important;
}

.cardMain1:hover p {
  color: white !important;
}
