.cardMain {
  margin: 20px;
}

/* .backGroundCard {
  height: 308px;
  width: 200px;
  left: -20px;
  top: 20px;
}

.imgHolder {
  height: 260px;
  width: 200px;
} */

.backGroundCard1 {
  width: fit-content;
  border-radius: 5px;
  background-color: #f36250;
  height: 250px;
  width: 180px;
  position: absolute;
  z-index: -1;
  left: -15px;
  top: 20px;
  border: 2px solid black;
}

.imgHolder1 {
  height: 200px;
  width: 180px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 2px solid black;
}

p {
  font-size: 18px;
  color: rgb(96, 96, 96);
  /* text-align: center; */
}
/* 
  .cardHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
  }
  
  .cardHolder img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  } */

.cardHolder1 {
  height: 255px;
  width: fit-content;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
}
