.signHolder {
  border: none;
}

.SignUpForm {
  border: none;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: -20px;
  margin-bottom: -20px;
}

.form-group {
  margin-bottom: 5px;
}

.btnSignUp {
  width: 30px;
  height: 40px;
}
